@media (max-width: 1200px) {
  #contact-us {
    margin-top: 20px;
  }

  .main .banner {
    height: 350px;
  }
  .social-links {
    text-align: center;
  }
  .footer__shop-name {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-row {
    padding-top: 35px;
  }

  .footer .menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 769px) {
  .product__quantity-input {
    justify-content: center;
    margin-right: 0;
  }
  .main .cart-list-container * {
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-us__surname,
  .contact-phone-number {
    margin-top: 20px;
  }
  .header .menu {
    display: none;
  }
  .banner__h1 {
    margin-bottom: 20px;
  }
  .banner__text {
    margin-bottom: 20px;
  }
  .subscribe-form__button {
    display: block;
    margin: 0 auto;
  }
  .subscribe-form__email {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }

  #product .product__product-image {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }

  .tips-description {
    font-size: 21px;
  }
}

@media (max-width: 600px) {
  .checkbox-wrapper {
    display: none;
  }
  .credit-card-icons-wrapper {
    width: 100%;
  }
  .payment-and-shipment__payment-type-chose {
    justify-content: center;
  }
  .header .mobile-nav .icons {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }
  .mobile-nav.active {
    transform: translateX(0);
  }
  .banner__description {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .banner__text,
  .banner__h1 {
    display: none;
  }
  .header .icons {
    display: none;
  }
  .header__burger-menu {
    display: block;
  }
}

@media (max-width: 575.5px) {
  .main .payment-and-shipment .surname-wrapper,
  .main .payment-and-shipment .zip-wrapper,
  .main .payment-and-shipment .cvc-wrapper {
    padding-left: 0;
  }
  .main .payment-and-shipment .name-wrapper,
  .main .payment-and-shipment .city-wrapper,
  .main .payment-and-shipment .validity-wrapper {
    padding-right: 0;
  }
  .payment-and-shipment {
    justify-content: center;
  }

  .name-wrapper,
  .city-wrapper {
    padding-right: 0;
  }

  .surname-wrapper,
  .zip-wrapper,
  .cvc-wrapper {
    margin-top: 20px;
    padding-left: 0;
  }
}

@media (max-width: 390px) {
  .cart-items .price {
    font-size: 15px;
  }
  .cart-image-wrapper img {
    width: 100%;
    height: 150px;
  }
  .menu__list li,
  .icons li {
    font-size: 11px;
  }

  .menu__list li {
    padding-right: 8px;
  }

  .product__product-image img {
    width: 100%;
  }
  .tips-how-to-care img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .banner__description {
    position: absolute;
    top: 10%;
    left: 5%;
  }
}
